In [68]:
import pandas as pd #tablas https://pandas.pydata.org/docs/user_guide/pyarrow.html
import numpy as np #estadistica https://numpy.org/doc/1.25/user/index.html#user
import matplotlib.pyplot as plt #gráficos https://matplotlib.org/stable/plot_types/index.html
import seaborn as sns #gráficos https://seaborn.pydata.org/tutorial/regression.html
from sklearn import linear_model #modelo de regresion https://scikit-learn.org/stable/
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from datetime import datetime #https://docs.python.org/3/library/datetime.html
from datetime import timedelta #this is a good time to learn about dates and timestamps. You can find some info here:
from sklearn.linear_model import LogisticRegression
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import ttest_1samp
import scipy.stats as st
from sklearn.neighbors import KNeighborsClassifier
from mlxtend.plotting import plot_decision_regions
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication
from getpass import getpass  # To get the password without showing the input
from sklearn.model_selection import cross_val_score
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

In [70]:
password = getpass()
connection_string = 'mysql+pymysql://root:'+password+'@localhost/start_up'
engine = create_engine(connection_string)
query = '''SELECT * FROM training_test_data;'''

df = pd.read_sql_query(query, engine)
df = df.drop(["permalink","name","main_industry","second_industry"], axis=1)

1. LOGISTIC REGGRESSION: ENCODING CAT

In [71]:
X = df.drop("status", axis=1)
y = df["status"]

In [72]:

X_num= X.select_dtypes(include=[np.number])
X_cat = X.select_dtypes(include='object')

In [73]:
encoder = OneHotEncoder().fit(X_cat)
encoded = encoder.transform(X_cat).toarray()
unique_values = [encoder.categories_[i] for i in range(len(X_cat.columns))]
onehot_encoded = pd.DataFrame(encoded, columns=[f"{col}_{value}" for col, values in zip(X_cat.columns, unique_values) for value in values])

In [74]:
X = pd.concat([X_num, onehot_encoded], axis=1)

In [75]:
X.head()

,funding_total_usd,funding_rounds,last_funding_at,lapse_months,country_code_ARE,country_code_ARG,country_code_AUS,country_code_AUT,country_code_BEL,country_code_BGR,...,cluster_industry_Analytics,cluster_industry_B2C,cluster_industry_Internet,cluster_industry_Management,cluster_industry_Other,cluster_industry_Search Engine,cluster_industry_Services,cluster_industry_Social,cluster_industry_Social Media,cluster_industry_Web
0,5000000.0,1,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,500000.0,1,2009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2535000.0,2,2011,14.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1250000.0,2,2011,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35000000.0,1,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [77]:
X_train

,funding_total_usd,funding_rounds,last_funding_at,lapse_months,country_code_ARE,country_code_ARG,country_code_AUS,country_code_AUT,country_code_BEL,country_code_BGR,...,cluster_industry_Analytics,cluster_industry_B2C,cluster_industry_Internet,cluster_industry_Management,cluster_industry_Other,cluster_industry_Search Engine,cluster_industry_Services,cluster_industry_Social,cluster_industry_Social Media,cluster_industry_Web
5294,905693.0,3,2013,43.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6468,13000000.0,2,2006,13.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7127,6294996.0,2,2010,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3128,6500000.0,1,2000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3474,39790000.0,4,2009,76.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5674,150000000.0,1,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5432,64800003.0,3,2011,31.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
875,200000.0,1,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7517,384180.0,1,2009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3685,5000000.0,1,2002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [78]:
X_test

,funding_total_usd,funding_rounds,last_funding_at,lapse_months,country_code_ARE,country_code_ARG,country_code_AUS,country_code_AUT,country_code_BEL,country_code_BGR,...,cluster_industry_Analytics,cluster_industry_B2C,cluster_industry_Internet,cluster_industry_Management,cluster_industry_Other,cluster_industry_Search Engine,cluster_industry_Services,cluster_industry_Social,cluster_industry_Social Media,cluster_industry_Web
5048,3.950000e+06,1,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4356,1.500000e+06,1,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9430,3.941242e+07,5,2015,49.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11134,9.000000e+06,1,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3045,4.244697e+04,1,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1643,3.156889e+07,1,1996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10298,2.000000e+07,1,2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2713,1.524990e+05,1,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9586,1.000000e+05,1,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2526,1.550000e+07,1,2003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [79]:
transformer = StandardScaler().fit(X_train)

In [80]:
X_train = transformer.transform(X_train)
X_test = transformer.transform(X_test)

In [81]:
from sklearn.metrics import accuracy_score, classification_report

In [82]:
model = LogisticRegression(max_iter=1000) 
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:\n", report)

Accuracy: 0.72
Classification Report:
               precision    recall  f1-score   support

           0       0.73      0.56      0.63       950
           1       0.72      0.85      0.78      1279

    accuracy                           0.72      2229
   macro avg       0.73      0.70      0.71      2229
weighted avg       0.73      0.72      0.72      2229

4. Prediction on prediction data WITHOUT FEATURE SELECTION (MODEL 1: 0.7 ACCURACY)

In [83]:
#MODEL 1
model #model
transformer #StandardScaler
encoder #1 Hot encoding

OneHotEncoder()

In [95]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/start_up'
engine = create_engine(connection_string)
query = '''SELECT * FROM df_to_make_pred;'''

df_complete = pd.read_sql_query(query, engine)
df1 = df_complete.drop(["permalink","name","main_industry","second_industry"], axis=1)

In [86]:
#Split to num and categorical
num= df1.select_dtypes(include=[np.number])
cat = df1.select_dtypes(include='object')

In [87]:
#HERE IS WHERE I FOUND THAT DF_OP HAD MORE UNIQUE VALUES THAN DF_SUCC IN COUNTRY_CODE

In [88]:
encoded = encoder.transform(cat).toarray()
unique_values = [encoder.categories_[i] for i in range(len(cat.columns))]
onehot_encoded = pd.DataFrame(encoded, columns=[f"{col}_{value}" for col, values in zip(cat.columns, unique_values) for value in values])

In [89]:
X = pd.concat([num, onehot_encoded], axis=1)

In [90]:
X

,funding_total_usd,funding_rounds,last_funding_at,lapse_months,country_code_ARE,country_code_ARG,country_code_AUS,country_code_AUT,country_code_BEL,country_code_BGR,...,cluster_industry_Analytics,cluster_industry_B2C,cluster_industry_Internet,cluster_industry_Management,cluster_industry_Other,cluster_industry_Search Engine,cluster_industry_Services,cluster_industry_Social,cluster_industry_Social Media,cluster_industry_Web
0,10000000.0,1,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,700000.0,2,2014,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3406878.0,1,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,2000000.0,1,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,41250.0,1,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42435,1120000.0,3,2015,11.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42436,1587301.0,1,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
42437,114304.0,4,2014,28.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
42438,18192.0,1,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42439,14851.0,1,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
X = transformer.transform(X)

In [92]:
array_pred = model.predict(X)

In [93]:
array_pred

array([0, 1, 0, ..., 1, 0, 0])

In [97]:
df_complete["LRM_predicton"]=array_pred

In [98]:
df_complete

,permalink,name,funding_total_usd,country_code,funding_rounds,last_funding_at,lapse_months,main_industry,second_industry,cluster_industry,LRM_predicton
0,/organization/-fame,#fame,10000000.0,IND,1,2015,0.0,Media,None,Social Media,0
1,/organization/-qounter,:Qounter,700000.0,USA,2,2014,7.0,Application Platforms,Real Time,Other,1
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",3406878.0,Other,1,2014,0.0,Apps,Games,Other,0
3,/organization/0-6-com,0-6.com,2000000.0,CHN,1,2008,0.0,Curated Web,None,Web,0
4,/organization/01games-technology,01Games Technology,41250.0,HKG,1,2014,0.0,Games,None,Other,0
...,...,...,...,...,...,...,...,...,...,...,...
42435,/organization/zzish,Zzish,1120000.0,GBR,3,2015,11.0,Analytics,Android,Analytics,1
42436,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,1587301.0,CHN,1,2012,0.0,Enterprise Software,None,Search Engine,1
42437,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,114304.0,HRV,4,2014,28.0,Advertising,Mobile,Other,1
42438,/organization/Ôasys-2,Ôasys,18192.0,USA,1,2015,0.0,Consumer Electronics,Internet of Things,B2C,0
42439,/organization/İnovatiff-reklam-ve-tanıtım-hizm...,İnovatiff Reklam ve Tanıtım Hizmetleri Tic,14851.0,Other,1,2013,0.0,Consumer Goods,E-Commerce,B2C,0

In [100]:
#df_complete.to_sql('all_data_LRM_pred', engine, if_exists='append', index=False)