In [96]:
import pandas as pd
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from tensorflow.python import tf2
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.utils import to_categorical
import numpy as np

In [97]:
import pandas as pd #tablas https://pandas.pydata.org/docs/user_guide/pyarrow.html
import numpy as np #estadistica https://numpy.org/doc/1.25/user/index.html#user
import matplotlib.pyplot as plt #gráficos https://matplotlib.org/stable/plot_types/index.html
import seaborn as sns #gráficos https://seaborn.pydata.org/tutorial/regression.html
from sklearn import linear_model #modelo de regresion https://scikit-learn.org/stable/
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from datetime import datetime #https://docs.python.org/3/library/datetime.html
from datetime import timedelta #this is a good time to learn about dates and timestamps. You can find some info here:
from sklearn.linear_model import LogisticRegression
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import ttest_1samp
import scipy.stats as st
from sklearn.neighbors import KNeighborsClassifier
from mlxtend.plotting import plot_decision_regions
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication
from getpass import getpass  # To get the password without showing the input
from sklearn.model_selection import cross_val_score
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

In [98]:
password = getpass()
connection_string = 'mysql+pymysql://root:'+password+'@localhost/start_up'
engine = create_engine(connection_string)
query = '''SELECT * FROM training_test_data;'''

df = pd.read_sql_query(query, engine)
df = df.drop(["permalink","name","main_industry","second_industry"], axis=1)

In [99]:
df

,funding_total_usd,status,country_code,funding_rounds,last_funding_at,lapse_months,cluster_industry
0,5000000.0,1,USA,1,2015,0.0,Other
1,500000.0,1,USA,1,2009,0.0,Other
2,2535000.0,1,USA,2,2011,14.0,Web
3,1250000.0,1,USA,2,2011,1.0,Analytics
4,35000000.0,1,USA,1,2010,0.0,Other
...,...,...,...,...,...,...,...
11138,3805520.0,1,ESP,2,2012,10.0,Other
11139,13000000.0,1,USA,1,2014,0.0,Other
11140,866550786.0,1,USA,9,2011,50.0,Other
11141,15419877.0,0,MYS,4,2013,61.0,Other
11142,8500000.0,1,USA,1,2004,0.0,Other

In [100]:
output = df["status"]
input = df.drop("status", axis=1)

In [101]:
input_num = input.select_dtypes(include=[np.number])
input_cat = input.select_dtypes(include='object')

In [102]:
encoder = OneHotEncoder().fit(input_cat) 
encoded = encoder.transform(input_cat).toarray()
unique_values = [encoder.categories_[i] for i in range(len(input_cat.columns))]
onehot_encoded = pd.DataFrame(encoded, columns=[f"{col}_{value}" for col, values in zip(input_cat.columns, unique_values) for value in values])

In [103]:
input = pd.concat([input_num, onehot_encoded], axis=1)

In [104]:
input

,funding_total_usd,funding_rounds,last_funding_at,lapse_months,country_code_ARE,country_code_ARG,country_code_AUS,country_code_AUT,country_code_BEL,country_code_BGR,...,cluster_industry_Analytics,cluster_industry_B2C,cluster_industry_Internet,cluster_industry_Management,cluster_industry_Other,cluster_industry_Search Engine,cluster_industry_Services,cluster_industry_Social,cluster_industry_Social Media,cluster_industry_Web
0,5000000.0,1,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,500000.0,1,2009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2535000.0,2,2011,14.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1250000.0,2,2011,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35000000.0,1,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11138,3805520.0,2,2012,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11139,13000000.0,1,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11140,866550786.0,9,2011,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11141,15419877.0,4,2013,61.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11142,8500000.0,1,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [105]:
transformer = StandardScaler().fit(input)
transformed = transformer.transform(input)
input = pd.DataFrame(transformed, columns=input.columns.tolist())

In [106]:
X_train, X_test, y_train, y_test = train_test_split(input, output)

In [107]:
from sklearn.datasets import fetch_openml
from sklearn.exceptions import ConvergenceWarning
from sklearn.neural_network import MLPClassifier
nn = MLPClassifier(hidden_layer_sizes= (50,50), solver='sgd', verbose=10, max_iter=1000, random_state=42)

In [108]:
%%time
nn.fit(X_train, y_train)

print("Training set score: %f" % nn.score(X_train, y_train))
print("Test set score: %f" % nn.score(X_test, y_test))

Iteration 1, loss = 0.77324609
Iteration 2, loss = 0.69980239
Iteration 3, loss = 0.68163935
Iteration 4, loss = 0.66985379
Iteration 5, loss = 0.65963556
Iteration 6, loss = 0.65066996
Iteration 7, loss = 0.64279211
Iteration 8, loss = 0.63570036
Iteration 9, loss = 0.62924082
Iteration 10, loss = 0.62330007
Iteration 11, loss = 0.61795815
Iteration 12, loss = 0.61294720
Iteration 13, loss = 0.60840758
Iteration 14, loss = 0.60425896
Iteration 15, loss = 0.60048783
Iteration 16, loss = 0.59717131
Iteration 17, loss = 0.59413307
Iteration 18, loss = 0.59138817
Iteration 19, loss = 0.58907599
Iteration 20, loss = 0.58681821
Iteration 21, loss = 0.58467298
Iteration 22, loss = 0.58293345
Iteration 23, loss = 0.58127173
Iteration 24, loss = 0.57982174
Iteration 25, loss = 0.57838167
Iteration 26, loss = 0.57711268
Iteration 27, loss = 0.57590212
Iteration 28, loss = 0.57496891
Iteration 29, loss = 0.57391358
Iteration 30, loss = 0.57312422
Iteration 31, loss = 0.57228571
Iteration 32, loss = 0.57150191
Iteration 33, loss = 0.57081756
Iteration 34, loss = 0.57027226
Iteration 35, loss = 0.56965673
Iteration 36, loss = 0.56909245
Iteration 37, loss = 0.56861690
Iteration 38, loss = 0.56805540
Iteration 39, loss = 0.56763195
Iteration 40, loss = 0.56720049
Iteration 41, loss = 0.56678538
Iteration 42, loss = 0.56639528
Iteration 43, loss = 0.56605093
Iteration 44, loss = 0.56567572
Iteration 45, loss = 0.56535142
Iteration 46, loss = 0.56508827
Iteration 47, loss = 0.56480845
Iteration 48, loss = 0.56440493
Iteration 49, loss = 0.56412223
Iteration 50, loss = 0.56381977
Iteration 51, loss = 0.56361031
Iteration 52, loss = 0.56329028
Iteration 53, loss = 0.56306271
Iteration 54, loss = 0.56275149
Iteration 55, loss = 0.56256546
Iteration 56, loss = 0.56232380
Iteration 57, loss = 0.56208389
Iteration 58, loss = 0.56184314
Iteration 59, loss = 0.56161752
Iteration 60, loss = 0.56144058
Iteration 61, loss = 0.56114687
Iteration 62, loss = 0.56090183
Iteration 63, loss = 0.56072577
Iteration 64, loss = 0.56050372
Iteration 65, loss = 0.56029566
Iteration 66, loss = 0.56008370
Iteration 67, loss = 0.55993014
Iteration 68, loss = 0.55973246
Iteration 69, loss = 0.55951409
Iteration 70, loss = 0.55938420
Iteration 71, loss = 0.55908742
Iteration 72, loss = 0.55893524
Iteration 73, loss = 0.55874702
Iteration 74, loss = 0.55855344
Iteration 75, loss = 0.55847418
Iteration 76, loss = 0.55821151
Iteration 77, loss = 0.55807532
Iteration 78, loss = 0.55792237
Iteration 79, loss = 0.55780591
Iteration 80, loss = 0.55761183
Iteration 81, loss = 0.55738669
Iteration 82, loss = 0.55727172
Iteration 83, loss = 0.55719230
Iteration 84, loss = 0.55701327
Iteration 85, loss = 0.55681501
Iteration 86, loss = 0.55669653
Iteration 87, loss = 0.55660052
Iteration 88, loss = 0.55645376
Iteration 89, loss = 0.55626694
Iteration 90, loss = 0.55612990
Iteration 91, loss = 0.55601064
Iteration 92, loss = 0.55583920
Iteration 93, loss = 0.55568650
Iteration 94, loss = 0.55559195
Iteration 95, loss = 0.55544498
Iteration 96, loss = 0.55533741
Iteration 97, loss = 0.55524286
Iteration 98, loss = 0.55508805
Iteration 99, loss = 0.55490957
Iteration 100, loss = 0.55477734
Iteration 101, loss = 0.55469364
Iteration 102, loss = 0.55456076
Iteration 103, loss = 0.55444049
Iteration 104, loss = 0.55440438
Iteration 105, loss = 0.55423104
Iteration 106, loss = 0.55412396
Iteration 107, loss = 0.55399152
Iteration 108, loss = 0.55384938
Iteration 109, loss = 0.55378550
Iteration 110, loss = 0.55364724
Iteration 111, loss = 0.55355221
Iteration 112, loss = 0.55341331
Iteration 113, loss = 0.55331462
Iteration 114, loss = 0.55318775
Iteration 115, loss = 0.55307567
Iteration 116, loss = 0.55300283
Iteration 117, loss = 0.55284612
Iteration 118, loss = 0.55283044
Iteration 119, loss = 0.55272772
Iteration 120, loss = 0.55272121
Iteration 121, loss = 0.55263170
Iteration 122, loss = 0.55238862
Iteration 123, loss = 0.55226582
Iteration 124, loss = 0.55215436
Iteration 125, loss = 0.55208086
Iteration 126, loss = 0.55204519
Iteration 127, loss = 0.55191970
Iteration 128, loss = 0.55180688
Iteration 129, loss = 0.55181099
Iteration 130, loss = 0.55162811
Iteration 131, loss = 0.55150010
Iteration 132, loss = 0.55141258
Iteration 133, loss = 0.55131920
Iteration 134, loss = 0.55119329
Iteration 135, loss = 0.55108694
Iteration 136, loss = 0.55106543
Iteration 137, loss = 0.55094614
Iteration 138, loss = 0.55098951
Iteration 139, loss = 0.55078314
Iteration 140, loss = 0.55073047
Iteration 141, loss = 0.55067066
Iteration 142, loss = 0.55048645
Iteration 143, loss = 0.55045746
Iteration 144, loss = 0.55033323
Iteration 145, loss = 0.55022714
Iteration 146, loss = 0.55010600
Iteration 147, loss = 0.55003226
Iteration 148, loss = 0.55004154
Iteration 149, loss = 0.54984538
Iteration 150, loss = 0.54982996
Iteration 151, loss = 0.54969367
Iteration 152, loss = 0.54960497
Iteration 153, loss = 0.54952288
Iteration 154, loss = 0.54947241
Iteration 155, loss = 0.54935919
Iteration 156, loss = 0.54926631
Iteration 157, loss = 0.54928458
Iteration 158, loss = 0.54912400
Iteration 159, loss = 0.54904323
Iteration 160, loss = 0.54900044
Iteration 161, loss = 0.54887934
Iteration 162, loss = 0.54885308
Iteration 163, loss = 0.54872442
Iteration 164, loss = 0.54867737
Iteration 165, loss = 0.54860350
Iteration 166, loss = 0.54858763
Iteration 167, loss = 0.54844156
Iteration 168, loss = 0.54846893
Iteration 169, loss = 0.54831666
Iteration 170, loss = 0.54827749
Iteration 171, loss = 0.54809461
Iteration 172, loss = 0.54820952
Iteration 173, loss = 0.54795946
Iteration 174, loss = 0.54792484
Iteration 175, loss = 0.54780082
Iteration 176, loss = 0.54774385
Iteration 177, loss = 0.54766906
Iteration 178, loss = 0.54756550
Iteration 179, loss = 0.54751143
Iteration 180, loss = 0.54747759
Iteration 181, loss = 0.54742057
Iteration 182, loss = 0.54731894
Iteration 183, loss = 0.54729711
Iteration 184, loss = 0.54726196
Iteration 185, loss = 0.54710656
Iteration 186, loss = 0.54717331
Iteration 187, loss = 0.54702594
Iteration 188, loss = 0.54690318
Iteration 189, loss = 0.54680581
Iteration 190, loss = 0.54674088
Iteration 191, loss = 0.54670332
Iteration 192, loss = 0.54664163
Iteration 193, loss = 0.54656991
Iteration 194, loss = 0.54658574
Iteration 195, loss = 0.54640112
Iteration 196, loss = 0.54632648
Iteration 197, loss = 0.54625953
Iteration 198, loss = 0.54627242
Iteration 199, loss = 0.54612594
Iteration 200, loss = 0.54617821
Iteration 201, loss = 0.54608511
Iteration 202, loss = 0.54598593
Iteration 203, loss = 0.54590807
Iteration 204, loss = 0.54579467
Iteration 205, loss = 0.54579432
Iteration 206, loss = 0.54573844
Iteration 207, loss = 0.54566841
Iteration 208, loss = 0.54557252
Iteration 209, loss = 0.54552094
Iteration 210, loss = 0.54550483
Iteration 211, loss = 0.54544861
Iteration 212, loss = 0.54549215
Iteration 213, loss = 0.54525933
Iteration 214, loss = 0.54521123
Iteration 215, loss = 0.54517462
Iteration 216, loss = 0.54519504
Iteration 217, loss = 0.54509042
Iteration 218, loss = 0.54500153
Iteration 219, loss = 0.54490413
Iteration 220, loss = 0.54493048
Iteration 221, loss = 0.54489284
Iteration 222, loss = 0.54485674
Iteration 223, loss = 0.54468101
Iteration 224, loss = 0.54466999
Iteration 225, loss = 0.54463264
Iteration 226, loss = 0.54448138
Iteration 227, loss = 0.54445451
Iteration 228, loss = 0.54435133
Iteration 229, loss = 0.54431640
Iteration 230, loss = 0.54427574
Iteration 231, loss = 0.54421088
Iteration 232, loss = 0.54418941
Iteration 233, loss = 0.54408260
Iteration 234, loss = 0.54403846
Iteration 235, loss = 0.54392790
Iteration 236, loss = 0.54397239
Iteration 237, loss = 0.54386144
Iteration 238, loss = 0.54381645
Iteration 239, loss = 0.54373965
Iteration 240, loss = 0.54370917
Iteration 241, loss = 0.54369236
Iteration 242, loss = 0.54352911
Iteration 243, loss = 0.54345864
Iteration 244, loss = 0.54354350
Iteration 245, loss = 0.54340897
Iteration 246, loss = 0.54337560
Iteration 247, loss = 0.54333372
Iteration 248, loss = 0.54327728
Iteration 249, loss = 0.54323869
Iteration 250, loss = 0.54319148
Iteration 251, loss = 0.54305432
Iteration 252, loss = 0.54298107
Iteration 253, loss = 0.54295149
Iteration 254, loss = 0.54293095
Iteration 255, loss = 0.54284063
Iteration 256, loss = 0.54287908
Iteration 257, loss = 0.54279881
Iteration 258, loss = 0.54270511
Iteration 259, loss = 0.54264552
Iteration 260, loss = 0.54263815
Iteration 261, loss = 0.54261455
Iteration 262, loss = 0.54255323
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Training set score: 0.716884
Test set score: 0.686289
CPU times: user 3min 48s, sys: 38.5 s, total: 4min 27s
Wall time: 45.1 s

In [109]:
predictions = nn.predict(X_test)
predictions

array([0, 0, 1, ..., 1, 1, 0])

In [110]:
test = y_test.values
test

array([0, 1, 0, ..., 1, 1, 1])

In [111]:
from sklearn.metrics import mean_squared_error
mean_squared_error(predictions,test)

0.3137114142139268

In [112]:
nn1 = MLPClassifier(hidden_layer_sizes= (100,100), solver='adam', verbose=1, max_iter=100, random_state=1, learning_rate='constant', learning_rate_init=0.02  )

In [113]:
nn1.fit(X_train, y_train)

print("Training set score: %f" % nn.score(X_train, y_train))
print("Test set score: %f" % nn.score(X_test, y_test))

Iteration 1, loss = 0.62699601
Iteration 2, loss = 0.57089825
Iteration 3, loss = 0.56752547
Iteration 4, loss = 0.56724489
Iteration 5, loss = 0.56140279
Iteration 6, loss = 0.55984813
Iteration 7, loss = 0.56158165
Iteration 8, loss = 0.55824212
Iteration 9, loss = 0.55558132
Iteration 10, loss = 0.55171480
Iteration 11, loss = 0.55314984
Iteration 12, loss = 0.55279734
Iteration 13, loss = 0.55078368
Iteration 14, loss = 0.54913844
Iteration 15, loss = 0.54580711
Iteration 16, loss = 0.55228538
Iteration 17, loss = 0.54342779
Iteration 18, loss = 0.54052127
Iteration 19, loss = 0.54102784
Iteration 20, loss = 0.53884071
Iteration 21, loss = 0.53729015
Iteration 22, loss = 0.53900927
Iteration 23, loss = 0.53738661
Iteration 24, loss = 0.53985720
Iteration 25, loss = 0.53585209
Iteration 26, loss = 0.53064465
Iteration 27, loss = 0.53274688
Iteration 28, loss = 0.53451676
Iteration 29, loss = 0.53242673
Iteration 30, loss = 0.53268233
Iteration 31, loss = 0.53420582
Iteration 32, loss = 0.53194818
Iteration 33, loss = 0.52958377
Iteration 34, loss = 0.53207745
Iteration 35, loss = 0.52741172
Iteration 36, loss = 0.54007482
Iteration 37, loss = 0.53232655
Iteration 38, loss = 0.52949258
Iteration 39, loss = 0.52408143
Iteration 40, loss = 0.52631429
Iteration 41, loss = 0.52500427
Iteration 42, loss = 0.52519791
Iteration 43, loss = 0.52636819
Iteration 44, loss = 0.52499642
Iteration 45, loss = 0.52644148
Iteration 46, loss = 0.52204985
Iteration 47, loss = 0.52047019
Iteration 48, loss = 0.52278222
Iteration 49, loss = 0.51947262
Iteration 50, loss = 0.53057707
Iteration 51, loss = 0.52651309
Iteration 52, loss = 0.52497845
Iteration 53, loss = 0.51844007
Iteration 54, loss = 0.52181758
Iteration 55, loss = 0.51899108
Iteration 56, loss = 0.52201254
Iteration 57, loss = 0.52722281
Iteration 58, loss = 0.53148767
Iteration 59, loss = 0.53439351
Iteration 60, loss = 0.52167895
Iteration 61, loss = 0.51912254
Iteration 62, loss = 0.52767994
Iteration 63, loss = 0.52163156
Iteration 64, loss = 0.52212361
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Training set score: 0.716884
Test set score: 0.686289

2. MAKING PREDICTIONS WITH THE MODEL, ADDING IT TO A PREDICTIONS DATASET

In [114]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/start_up'
engine = create_engine(connection_string)
query = '''SELECT * FROM all_data_LRM_pred;'''

df_complete = pd.read_sql_query(query, engine)
df1 = df_complete.drop(["permalink","name","main_industry","second_industry","LRM_predicton"], axis=1)

In [115]:
df1

,funding_total_usd,country_code,funding_rounds,last_funding_at,lapse_months,cluster_industry
0,10000000.0,IND,1,2015,0.0,Social Media
1,700000.0,USA,2,2014,7.0,Other
2,3406878.0,Other,1,2014,0.0,Other
3,2000000.0,CHN,1,2008,0.0,Web
4,41250.0,HKG,1,2014,0.0,Other
...,...,...,...,...,...,...
42435,1120000.0,GBR,3,2015,11.0,Analytics
42436,1587301.0,CHN,1,2012,0.0,Search Engine
42437,114304.0,HRV,4,2014,28.0,Other
42438,18192.0,USA,1,2015,0.0,B2C
42439,14851.0,Other,1,2013,0.0,B2C

In [116]:
num= df1.select_dtypes(include=[np.number])
cat = df1.select_dtypes(include='object')
encoded = encoder.transform(cat).toarray()
unique_values = [encoder.categories_[i] for i in range(len(cat.columns))]
onehot_encoded = pd.DataFrame(encoded, columns=[f"{col}_{value}" for col, values in zip(cat.columns, unique_values) for value in values]) 
input = pd.concat([num, onehot_encoded], axis=1)
transformed = transformer.transform(input)
X = pd.DataFrame(transformed, columns=input.columns.tolist())

In [117]:
# NN
nn_predictions = nn.predict(X)
nn_predictions

array([1, 1, 0, ..., 0, 0, 0])

In [118]:
nn1_prediction = nn1.predict(X)
nn1_prediction

array([0, 1, 0, ..., 0, 0, 0])

In [119]:
df_complete

,permalink,name,funding_total_usd,country_code,funding_rounds,last_funding_at,lapse_months,main_industry,second_industry,cluster_industry,LRM_predicton
0,/organization/-fame,#fame,10000000.0,IND,1,2015,0.0,Media,None,Social Media,0
1,/organization/-qounter,:Qounter,700000.0,USA,2,2014,7.0,Application Platforms,Real Time,Other,1
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",3406878.0,Other,1,2014,0.0,Apps,Games,Other,0
3,/organization/0-6-com,0-6.com,2000000.0,CHN,1,2008,0.0,Curated Web,None,Web,0
4,/organization/01games-technology,01Games Technology,41250.0,HKG,1,2014,0.0,Games,None,Other,0
...,...,...,...,...,...,...,...,...,...,...,...
42435,/organization/zzish,Zzish,1120000.0,GBR,3,2015,11.0,Analytics,Android,Analytics,1
42436,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,1587301.0,CHN,1,2012,0.0,Enterprise Software,None,Search Engine,1
42437,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,114304.0,HRV,4,2014,28.0,Advertising,Mobile,Other,1
42438,/organization/Ôasys-2,Ôasys,18192.0,USA,1,2015,0.0,Consumer Electronics,Internet of Things,B2C,0
42439,/organization/İnovatiff-reklam-ve-tanıtım-hizm...,İnovatiff Reklam ve Tanıtım Hizmetleri Tic,14851.0,Other,1,2013,0.0,Consumer Goods,E-Commerce,B2C,0

In [120]:
df_complete["NN_SGD_predicton"]=nn_predictions
df_complete["NN_Adam_prediction"]= nn1_prediction

In [121]:
df_complete

,permalink,name,funding_total_usd,country_code,funding_rounds,last_funding_at,lapse_months,main_industry,second_industry,cluster_industry,LRM_predicton,NN_SGD_predicton,NN_Adam_prediction
0,/organization/-fame,#fame,10000000.0,IND,1,2015,0.0,Media,None,Social Media,0,1,0
1,/organization/-qounter,:Qounter,700000.0,USA,2,2014,7.0,Application Platforms,Real Time,Other,1,1,1
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",3406878.0,Other,1,2014,0.0,Apps,Games,Other,0,0,0
3,/organization/0-6-com,0-6.com,2000000.0,CHN,1,2008,0.0,Curated Web,None,Web,0,1,0
4,/organization/01games-technology,01Games Technology,41250.0,HKG,1,2014,0.0,Games,None,Other,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42435,/organization/zzish,Zzish,1120000.0,GBR,3,2015,11.0,Analytics,Android,Analytics,1,1,0
42436,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,1587301.0,CHN,1,2012,0.0,Enterprise Software,None,Search Engine,1,1,0
42437,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,114304.0,HRV,4,2014,28.0,Advertising,Mobile,Other,1,0,0
42438,/organization/Ôasys-2,Ôasys,18192.0,USA,1,2015,0.0,Consumer Electronics,Internet of Things,B2C,0,0,0
42439,/organization/İnovatiff-reklam-ve-tanıtım-hizm...,İnovatiff Reklam ve Tanıtım Hizmetleri Tic,14851.0,Other,1,2013,0.0,Consumer Goods,E-Commerce,B2C,0,0,0

In [122]:
#df_complete.to_sql('all_predictions', engine, if_exists='append', index=False)

42440